---
- name: Install Python-pip
  yum: name=python-pip state=latest update_cache=true

- name: Instal PyOpenSSL
  pip: name=PyOpenSSL>=0.15 state=present

- name: Create SSL directory if not exists
  file: path=/etc/nginx/ssl state=directory mode=0755

- name: Create Self Signed Certificates for Nginx
  command: openssl req -new -nodes -x509 -subj "/C=US/ST=Oregon/L=Portland/O=IT/CN=${ansible_fqdn}" -days 3650 -keyout /etc/nginx/ssl/nginx.key -out /etc/nginx/ssl/nginx.crt -extensions v3_ca creates=/etc/nginx/ssl/nginx.crt

#- name: Create Self Signed Certificates for Nginx
#  openssl_certificate:
#    path: /etc/nginx/ssl/nginx.crt
#    privatekey_path: /etc/nginx/ssl/nginx.pem
#    csr_path: /etc/nginx/ssl/nginx.csr
#    provider: selfsigned
